.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}
.select{
    margin: 40px auto;
}
.dark-text,.red-text,.some-text{
    position: unset;
}