.someClass {
    border: 1px solid black;
    border-radius: 5px;
}
.error {
    border: 1px solid red;
    border-radius: 5px;
}

.errorMessage{
    display: block;
    color:red;
}

.wrapper {
    margin: 0 auto
}
